<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="aizee_model">
  <link
    name="base_link">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="fr_wheel_link">
    <inertial>
      <origin
        xyz="-5.46627908770692E-08 -0.0186624897526543 -3.37595906785282E-09"
        rpy="0 0 0" />
      <mass
        value="0.426146379184825" />
      <inertia
        ixx="0.00128519449195817"
        ixy="-1.7132345198602E-10"
        ixz="-2.79401242727822E-11"
        iyy="0.00247152544875011"
        iyz="-1.13833169162311E-10"
        izz="0.00128519581424847" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/fr_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/fr_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.164400000012016 0.18552749994085 0.0449999999998704"
      rpy="3.14159265358979 0 0" />
    <parent
      link="base_link" />
    <child
      link="fr_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="fl_wheel_link">
    <inertial>
      <origin
        xyz="-5.45316413344543E-08 -0.0186624897523085 -3.17734621946286E-09"
        rpy="0 0 0" />
      <mass
        value="0.426146379160632" />
      <inertia
        ixx="0.00128519449163043"
        ixy="-1.70595585322568E-10"
        ixz="-2.72508248605472E-11"
        iyy="0.00247152544860307"
        iyz="-1.13562727618883E-10"
        izz="0.00128519581445072" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/fl_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/fl_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.164400000012017 -0.182527499940847 0.0449999999998682"
      rpy="-3.14159265358979 0.937838269683351 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="fl_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="br_wheel_link">
    <inertial>
      <origin
        xyz="-5.46627909325803E-08 0.0186625103656381 -3.37595910948618E-09"
        rpy="0 0 0" />
      <mass
        value="0.426146379184826" />
      <inertia
        ixx="0.00128519449195818"
        ixy="-1.71323451201196E-10"
        ixz="-2.79401242270971E-11"
        iyy="0.00247152544875012"
        iyz="-1.13833169387154E-10"
        izz="0.00128519581424847" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/br_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/br_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_wheel_joint"
    type="continuous">
    <origin
      xyz="0.164799999987984 0.182527499940852 0.0449999999998817"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="br_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="bl_wheel_link">
    <inertial>
      <origin
        xyz="-5.46069843510022E-08 0.0186625103671857 -3.44144951772152E-09"
        rpy="0 0 0" />
      <mass
        value="0.426146379308016" />
      <inertia
        ixx="0.00128519449230551"
        ixy="-1.71311975109855E-10"
        ixz="-2.80043327394697E-11"
        iyy="0.00247152544942666"
        iyz="-1.1409585905776E-10"
        izz="0.00128519581458769" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/bl_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/bl_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_wheel_joint"
    type="continuous">
    <origin
      xyz="0.164799999987983 -0.182527499940849 0.044999999999874"
      rpy="3.14159265358979 -0.0959172982254348 0" />
    <parent
      link="base_link" />
    <child
      link="bl_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="gantry_swivel_link">
    <inertial>
      <origin
        xyz="-0.00465556420985308 0.472440483081028 0.0064461270994268"
        rpy="0 0 0" />
      <mass
        value="4.13256156537212" />
      <inertia
        ixx="0.23774640778783"
        ixy="-2.5933194894565E-05"
        ixz="-0.000358272876372294"
        iyy="0.00704387343331813"
        iyz="1.65973358621417E-05"
        izz="0.237974694155896" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/gantry_swivel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/gantry_swivel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gantry_swivel_joint"
    type="continuous">
    <origin
      xyz="-0.001715 0 0.045"
      rpy="1.5708 0 2.2013" />
    <parent
      link="base_link" />
    <child
      link="gantry_swivel_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="gantry_base_link">
    <inertial>
      <origin
        xyz="-0.0413926594953958 0.0787174725266446 0.00440283857141866"
        rpy="0 0 0" />
      <mass
        value="2.87751988360274" />
      <inertia
        ixx="0.0107502811688996"
        ixy="0.000244284946415537"
        ixz="6.1939289056546E-05"
        iyy="0.0132005727337728"
        iyz="8.08553879941007E-06"
        izz="0.00641753469286407" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/gantry_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/gantry_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gantry_base_joint"
    type="prismatic">
    <origin
      xyz="8.0773E-05 1.1737 5.8955E-05"
      rpy="3.1416 -0.94029 -3.1416" />
    <parent
      link="gantry_swivel_link" />
    <child
      link="gantry_base_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head_swivel_link">
    <inertial>
      <origin
        xyz="-0.0317534999757383 0.0389950791480618 -0.000234878143305018"
        rpy="0 0 0" />
      <mass
        value="0.0645692908984826" />
      <inertia
        ixx="2.1914349110864E-05"
        ixy="8.59546728879523E-06"
        ixz="-5.17728743080878E-08"
        iyy="3.65035191291139E-05"
        iyz="7.46363957085471E-09"
        izz="3.77426072161148E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/head_swivel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/head_swivel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_swivel_joint"
    type="continuous">
    <origin
      xyz="-0.14381 0.13594 0.0001"
      rpy="0.0060232 0 -1.5708" />
    <parent
      link="gantry_base_link" />
    <child
      link="head_swivel_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="head_tilt_link">
    <inertial>
      <origin
        xyz="0.000344345851993388 0.00646158645447842 -2.06908995347213E-05"
        rpy="0 0 0" />
      <mass
        value="0.0805110064262411" />
      <inertia
        ixx="2.09512468906614E-05"
        ixy="-1.45810557369463E-08"
        ixz="-1.70164315113191E-07"
        iyy="1.65096605263484E-05"
        iyz="-5.87295435875124E-09"
        izz="1.36041934860479E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/head_tilt_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/head_tilt_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_tilt_joint"
    type="continuous">
    <origin
      xyz="-0.0428400156095683 0 0"
      rpy="0 -0.0307989676412341 0.000185569376448724" />
    <parent
      link="head_swivel_link" />
    <child
      link="head_tilt_link" />
    <axis
      xyz="0 0.999981860564052 -0.0060231671782995" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="head_pitch_link">
    <inertial>
      <origin
        xyz="-0.0378363465610762 -0.0127393112874012 -0.00216806504520771"
        rpy="0 0 0" />
      <mass
        value="0.113884246009613" />
      <inertia
        ixx="0.000142555064685131"
        ixy="-7.88980302260151E-06"
        ixz="2.71224663549447E-06"
        iyy="0.000157515092949658"
        iyz="2.67584460609774E-06"
        izz="4.1877873675217E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/head_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/head_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_pitch_joint"
    type="continuous">
    <origin
      xyz="-0.00715658863950375 0 0.000220485265838899"
      rpy="0.0301375093124696 -0.0107085179536229 1.06890143125903" />
    <parent
      link="head_tilt_link" />
    <child
      link="head_pitch_link" />
    <axis
      xyz="0.0307946572743629 0.00602031058358343 0.999507601243648" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="left_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="-0.00366625502089724 0.0730787396212584 0.000196347598996671"
        rpy="0 0 0" />
      <mass
        value="0.224603056164951" />
      <inertia
        ixx="0.000101500475144362"
        ixy="-6.82752572349268E-06"
        ixz="2.76970071278875E-08"
        iyy="8.33644467708776E-05"
        iyz="-2.54210240457872E-07"
        izz="0.000108145519244217" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_pitch_joint"
    type="continuous">
    <origin
      xyz="-0.132221795513797 0.0585381329785393 0.0484092415095189"
      rpy="1.57079632679485 0 1.51682218893965" />
    <parent
      link="gantry_base_link" />
    <child
      link="left_shoulder_pitch_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="left_upper_arm_link">
    <inertial>
      <origin
        xyz="-0.0766963206231697 0.0134039654292104 -0.00027630598389386"
        rpy="0 0 0" />
      <mass
        value="0.311240459874834" />
      <inertia
        ixx="0.000138972067098665"
        ixy="3.48829832383762E-05"
        ixz="-3.86345462732206E-05"
        iyy="0.000383697078467837"
        iyz="3.99862843086465E-06"
        izz="0.000295827796082312" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_upper_arm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_upper_arm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_upper_arm_joint"
    type="continuous">
    <origin
      xyz="0 0.106100000000015 0"
      rpy="0.00814224527237571 -0.000617071463435104 0.151282779582204" />
    <parent
      link="left_shoulder_pitch_link" />
    <child
      link="left_upper_arm_link" />
    <axis
      xyz="-0.0539479353612109 0 -0.998543749802813" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="left_upper_elbow_link">
    <inertial>
      <origin
        xyz="0.00639541701338642 0.0872573718546128 -0.00206861401455719"
        rpy="0 0 0" />
      <mass
        value="0.174639013065772" />
      <inertia
        ixx="0.000144828293878975"
        ixy="-4.96315045507215E-05"
        ixz="-1.00606874795009E-07"
        iyy="6.78224389475065E-05"
        iyz="8.60322161370283E-07"
        izz="0.000196951026197807" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_upper_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_upper_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_upper_elbow_joint"
    type="continuous">
    <origin
      xyz="-0.0862752361730876 0.0131904590673321 0.00456101284012125"
      rpy="1.72230140661996 1.51682218893961 3.14159265358868" />
    <parent
      link="left_upper_arm_link" />
    <child
      link="left_upper_elbow_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="left_lower_elbow_link">
    <inertial>
      <origin
        xyz="-0.0384012806500906 -0.00785859009543727 -0.00587888140618137"
        rpy="0 0 0" />
      <mass
        value="0.151902535663641" />
      <inertia
        ixx="3.84862261036735E-05"
        ixy="1.17674164338545E-06"
        ixz="-6.18257925413325E-06"
        iyy="6.38341523254008E-05"
        iyz="-2.40061828956636E-06"
        izz="5.79461131983991E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_lower_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_lower_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_lower_elbow_joint"
    type="continuous">
    <origin
      xyz="0.0381999999999999 0.112403218450237 0"
      rpy="1.96400162440628 -0.0881271151702069 -1.59563952845257" />
    <parent
      link="left_upper_elbow_link" />
    <child
      link="left_lower_elbow_link" />
    <axis
      xyz="0.0880130878903102 0.920101163566567 -0.381664178517532" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="left_forearm_link">
    <inertial>
      <origin
        xyz="-0.0881848451954332 0.00476209060001065 -0.0158110197092884"
        rpy="0 0 0" />
      <mass
        value="0.133070486458284" />
      <inertia
        ixx="3.84773304017752E-05"
        ixy="2.205400883952E-06"
        ixz="-2.20235527308057E-06"
        iyy="7.37294786670377E-05"
        iyz="2.37824226166254E-06"
        izz="5.58551108303063E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_forearm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_forearm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_forearm_joint"
    type="continuous">
    <origin
      xyz="-0.0269534702231389 -0.00214213478108321 -0.00613953045680213"
      rpy="-2.03700008275405 -0.274733744913246 -0.191545917444494" />
    <parent
      link="left_lower_elbow_link" />
    <child
      link="left_forearm_link" />
    <axis
      xyz="0.980643317783876 -0.0724305556359773 0.18191343517205" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="left_wrist_pitch_link">
    <inertial>
      <origin
        xyz="-0.000976211474964572 0.00387708053577482 0.00871503726181233"
        rpy="0 0 0" />
      <mass
        value="0.0263062310477304" />
      <inertia
        ixx="1.20787443717623E-05"
        ixy="2.58818749807342E-07"
        ixz="4.48423650150997E-07"
        iyy="1.21105177550482E-05"
        iyz="1.59016812759429E-06"
        izz="1.39466251622189E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wrist_pitch_joint"
    type="continuous">
    <origin
      xyz="-0.124566694244269 0.00920052654643505 -0.0231076425516841"
      rpy="3.08769993658993 -1.35192984023637 -2.62673064646398" />
    <parent
      link="left_forearm_link" />
    <child
      link="left_wrist_pitch_link" />
    <axis
      xyz="0 -0.866025403784494 0.499999999999905" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="left_wrist_tool_link">
    <inertial>
      <origin
        xyz="0.0150606893814914 -0.0335618936293742 0.00141729578731215"
        rpy="0 0 0" />
      <mass
        value="0.109165570786613" />
      <inertia
        ixx="4.79249279687807E-05"
        ixy="-9.89242939819076E-06"
        ixz="8.73271494265755E-08"
        iyy="3.46888786448698E-05"
        iyz="3.2045983483483E-08"
        izz="4.89192830147544E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_wrist_tool_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/left_wrist_tool_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wrist_tool_joint"
    type="continuous">
    <origin
      xyz="0 0.0141339745962058 0.0264807621135386"
      rpy="-2.07922112326353 -0.0741625565421061 0.0531350305035374" />
    <parent
      link="left_wrist_pitch_link" />
    <child
      link="left_wrist_tool_link" />
    <axis
      xyz="0.995843763645555 0.0904852634576426 -0.0103737893393476" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="right_shoulder_pitch_link">
    <inertial>
      <origin
        xyz="-0.0036663303137916 0.0730787258862388 -0.000196472627031069"
        rpy="0 0 0" />
      <mass
        value="0.224603105390766" />
      <inertia
        ixx="0.000101500501028238"
        ixy="-6.82749812764672E-06"
        ixz="-2.78105284717678E-08"
        iyy="8.33644131474169E-05"
        iyz="2.54260794809768E-07"
        izz="0.000108145603124013" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_pitch_joint"
    type="continuous">
    <origin
      xyz="-0.132221795513731 0.0585381329786272 -0.0482092415089532"
      rpy="-1.57079632679482 0 1.51682218893965" />
    <parent
      link="gantry_base_link" />
    <child
      link="right_shoulder_pitch_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="right_upper_arm_link">
    <inertial>
      <origin
        xyz="-0.0766993265084235 0.0134044728501799 0.00032656219615837"
        rpy="0 0 0" />
      <mass
        value="0.311239451264541" />
      <inertia
        ixx="0.00013897068934475"
        ixy="3.4884598242669E-05"
        ixz="3.86348318147717E-05"
        iyy="0.00038369569788792"
        iyz="-3.99791057241581E-06"
        izz="0.000295827711130984" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_upper_arm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_upper_arm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_upper_arm_joint"
    type="continuous">
    <origin
      xyz="0 0.106100000000039 0"
      rpy="-0.00814224527237025 0.000617071463434093 0.151282779581485" />
    <parent
      link="right_shoulder_pitch_link" />
    <child
      link="right_upper_arm_link" />
    <axis
      xyz="-0.0539479353612105 0 0.998543749802813" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="right_upper_elbow_link">
    <inertial>
      <origin
        xyz="0.00639564819449304 0.0872557862239722 0.00207119883795531"
        rpy="0 0 0" />
      <mass
        value="0.17462194427021" />
      <inertia
        ixx="0.00014482904110655"
        ixy="-4.96321681331803E-05"
        ixz="1.01056723954512E-07"
        iyy="6.78203458045018E-05"
        iyz="-8.60250159855874E-07"
        izz="0.000196949982291786" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_upper_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_upper_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_upper_elbow_joint"
    type="continuous">
    <origin
      xyz="-0.0837801498896704 0.012813143712194 -0.00493341280167864"
      rpy="-1.72230140661924 -1.5168221889396 3.14159265358867" />
    <parent
      link="right_upper_arm_link" />
    <child
      link="right_upper_elbow_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="right_lower_elbow_link">
    <inertial>
      <origin
        xyz="-0.0384012442069541 -0.00785851125130116 0.00587906711352812"
        rpy="0 0 0" />
      <mass
        value="0.151904197101513" />
      <inertia
        ixx="3.84864381691018E-05"
        ixy="1.17654297661299E-06"
        ixz="6.18266537995114E-06"
        iyy="6.38351264784854E-05"
        iyz="2.4004575835025E-06"
        izz="5.79465269689681E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_lower_elbow_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_lower_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_lower_elbow_joint"
    type="continuous">
    <origin
      xyz="0.0382000000000001 0.112403218450237 0"
      rpy="-1.96400162440639 0.0881271151694865 -1.59563952845256" />
    <parent
      link="right_upper_elbow_link" />
    <child
      link="right_lower_elbow_link" />
    <axis
      xyz="0.0880130878895927 0.920101163566584 0.381664178517656" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="right_forearm_link">
    <inertial>
      <origin
        xyz="-0.0881847647069401 0.00476196898654563 0.0158112020966587"
        rpy="0 0 0" />
      <mass
        value="0.133069689452656" />
      <inertia
        ixx="3.84769684006435E-05"
        ixy="2.20552745446085E-06"
        ixz="2.2025474131674E-06"
        iyy="7.37294230035962E-05"
        iyz="-2.3781233330995E-06"
        izz="5.585595924665E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_forearm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_forearm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_forearm_joint"
    type="continuous">
    <origin
      xyz="-0.0269534702231089 -0.00214213478098909 0.00613953045678181"
      rpy="2.03700008275405 0.274733744913229 -0.191545917444501" />
    <parent
      link="right_lower_elbow_link" />
    <child
      link="right_forearm_link" />
    <axis
      xyz="0.980643317783738 -0.0724305556360726 -0.181913435172757" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="right_wrist_pitch_link">
    <inertial>
      <origin
        xyz="-0.000976339803702014 -0.000999455408355332 0.00948535820080887"
        rpy="0 0 0" />
      <mass
        value="0.0263065913042516" />
      <inertia
        ixx="1.20804573952934E-05"
        ixy="-4.84424981224164E-10"
        ixz="5.17722066307709E-07"
        iyy="1.11915270704849E-05"
        iyz="1.21794037375408E-10"
        izz="1.48646757677219E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_wrist_pitch_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wrist_pitch_joint"
    type="continuous">
    <origin
      xyz="-0.124566694244279 0.00920052654645065 0.0231076425517911"
      rpy="-0.577491492596529 -1.35192984023572 0.514862007124234" />
    <parent
      link="right_forearm_link" />
    <child
      link="right_wrist_pitch_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
  <link
    name="right_wrist_tool_link">
    <inertial>
      <origin
        xyz="0.0158573641026258 -0.0334895053506818 0.00140899683962326"
        rpy="0 0 0" />
      <mass
        value="0.109165571976926" />
      <inertia
        ixx="4.79249281327564E-05"
        ixy="-9.89242965029902E-06"
        ixz="8.73272889154387E-08"
        iyy="3.468887871489E-05"
        iyz="3.20459441768823E-08"
        izz="4.89192832751408E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_wrist_tool_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aizee_model/meshes/right_wrist_tool_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wrist_tool_joint"
    type="continuous">
    <origin
      xyz="0 -0.000999999999963808 0.03"
      rpy="-1.5540529618699 -0.0907744325651698 -3.13273515949314" />
    <parent
      link="right_wrist_pitch_link" />
    <child
      link="right_wrist_tool_link" />
    <axis
      xyz="-0.99584376364562 -0.0904852634569211 0.0103737893393444" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="1"
      velocity="1" />
  </joint>
</robot>