# Persistent symlink for the e-stop receiver ESP-WROOM-32.
# Creates /dev/estop-receiver regardless of which ttyUSB port it lands on.
#
# To find your device's idVendor/idProduct, plug it in and run:
#   udevadm info -a /dev/ttyUSB0 | grep -E 'idVendor|idProduct|serial'
#
# CP2102/CP2104 (common on ESP-WROOM-32 devkits):
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="estop-receiver", MODE="0666"
# CH340 (alternative USB-serial chip on some devkits):
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="estop-receiver", MODE="0666"
