[Unit]
Description=AIZEE Rover Motor Control
After=network.target

[Service]
Type=simple
User=ltr
WorkingDirectory=/home/ltr/aizee
Environment="AIZEE_CONFIG=/home/ltr/aizee/config/hardware_jetson_rover.yaml"
Environment="RUST_LOG=info"
ExecStartPre=-/usr/bin/sudo /usr/sbin/ip link set can1 down
ExecStartPre=/usr/bin/sudo /usr/sbin/ip link set can1 type can bitrate 1000000
ExecStartPre=/usr/bin/sudo /usr/sbin/ip link set can1 up
ExecStart=/home/ltr/aizee/rust/target/release/motor_control
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
