[Unit]
Description=AIZEE Arm Motor Control
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/aizee
Environment="AIZEE_CONFIG=/home/pi/aizee/config/hardware_rpi4_arm.yaml"
Environment="RUST_LOG=info"
ExecStartPre=/usr/bin/sudo /usr/sbin/ip link set can0 type can bitrate 1000000
ExecStartPre=/usr/bin/sudo /usr/sbin/ip link set can0 up
ExecStart=/home/pi/aizee/rust/target/release/motor_control
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
